<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <script>app.use(express.static(__dirname + '/normal2563'));
</script>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
  .fullscreen-block{
    position: absolute;
  background: #006699 url('https://image.freepik.com/free-vector/smooth-blue-blurred-background_1034-601.jpg') no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
form {
text-align: center;

	
	height: 100%;
	padding: 12px 0px;
	margin: 8px 28px;
	font-family:'kanit'
  }
  /* Full-width inputs */
  input[type=text] {

  width: 20%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
  }
  input[type=password] {
   
	width: 20%;
	padding: 12px 20px;
	margin: 8px 0px;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 20%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
	opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
	text-align:center;
	margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
	width: 15%;
	border-radius: 10%;
  }
  
  /* Add padding to containers */
  .container {
	padding: 16px;
  }
  
  
  /* The "Forgot password" text */
  span.psw {
	float: left;
	padding-top: 16px;
  }
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
	span.psw {
	  display: block;
	  float: none;
	}
	.cancelbtn {
	  width: 100%;
	}
  }
  
  
</style>
 

<body>
  <div class="fullscreen-block"></div>
<form action="action_page.ejs" method="post">
  
  <div class="imgcontainer">
    <img src="https://upload.wikimedia.org/wikipedia/commons/3/32/Emblem_of_Thammasat_University.svg" alt="Avatar" class="avatar">
  </div>

  <div class="container">

  
 
    <input type="text" placeholder="รหัสนักศึกษา" name="uname" required>
    <br>
    
    <input type="password" placeholder="รหัสผ่าน" name="psw" required>
    <br>  
    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me

      </span>
    </label>
  </div>

  <div class="container" style="background-color:#ffffff">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
 
</form> 
</body>
<script>var https = require('https');

  var options = {
    'method': 'POST',
    'hostname': 'restapi.tu.ac.th',
    'path': '/api/v1/auth/Ad/verify',
    'headers': {
      'Content-Type': 'application/json',
      'Application-Key': '{Access token}'
    }
  };
  
  var req = https.request(options, function (res) {
    var chunks = [];
  
    res.on("data", function (chunk) {
      chunks.push(chunk);
    });
  
    res.on("end", function (chunk) {
      var body = Buffer.concat(chunks);
      console.log(body.toString());
    });
  
    res.on("error", function (error) {
      console.error(error);
    });
  });
  
  var postData =  "{\n\t\"UserName\":\"{username}\",\n\t\"PassWord\":\"{password}\"\n}";
  
  req.write(postData);
  
  req.end();</script>
</html>